<%= render partial: 'products/products_sub_header' %>

<%= form_for @supplier do |f| %>
	<div class="supplier-add-product-shell">
		<%= f.text_field 'name', :placeholder => 'Supplier Name', :class => 'edit-supplier-name-text-input' %>
	</div>
	<% @supplier.order_days.each do |order_day| %>
	 <%= render partial: 'supplier_order_days/order_days', :locals => {:order_days => order_day} %>
	<% end %>
	<%= f.submit 'Save Changes', :class => 'edit-supplier-save-btn' %>
<% end %>

<table class="order-and-deliver-table">
	<tr class="week-order-days">
		<td class="day-counter-defi" data-active='false' data-day="sunday">S</td>
		<td class="day-counter-defi" data-active='false' data-day="monday">M</td>
		<td class="day-counter-defi" data-active='false' data-day="tuesday">T</td>
		<td class="day-counter-defi" data-active='false' data-day="wednesday">W</td>
		<td class="day-counter-defi" data-active='false' data-day="thursday">T</td>
		<td class="day-counter-defi" data-active='false' data-day="friday">F</td>
		<td class="day-counter-defi" data-active='false' data-day="saturday">S</td>
	</tr>
	<tr>
		<td class="day-counter-defi">S</td>
		<td class="day-counter-defi">M</td>
		<td class="day-counter-defi">T</td>
		<td class="day-counter-defi">W</td>
		<td class="day-counter-defi">T</td>
		<td class="day-counter-defi">F</td>
		<td class="day-counter-defi">S</td>
	</tr>	
</table>